@import "tailwindcss";

@layer utilities {
  .animate-spotlight {
    animation: spotlight 7s ease forwards;
  }
}

@keyframes spotlight {
  0% {
    transform: translate(-10%, -50%) rotate(45deg) scale(0.5);
  }
  100% {
    transform: translate(-40%, 100%) rotate(45deg) scale(1.5);
  }
}